* {
    box-sizing: border-box;
}
body {
  background-color:slategray;
}

p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 2vw;
  font-size: 3vw;
  margin: 1vw;
}

a {
  text-align:center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 2vw;
  color: black;
  align-items: end;
}

img {
 display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  position: relative;
  

}
.carouselImage {
    display: flex;
    align-items: center;
    height: 40vw;
    

}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}