body{
    background-color: darkgray;
}
p {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 40px;
    font-size: 30px;
    margin: 100px;
}
a {
     text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 40px;

}