body {
  background-color: darkgray;
}

p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 30px;
  font-size: 5vw;
  margin: 10px;
}

a {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 30px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
